$main: #ed8d8d;
$second: #fff;
$bg: #282c34;

:root {
  height: 100%;
}

h1 {
  color: $second;
  margin-bottom: 50px;
  text-align: center;
}

.font-color {
  color: $second !important;
}

body,
#root {
  height: 100%;
  background-color: $bg;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user {
      display: flex;
      align-items: center;

      .avatar {
        background-color: $main;
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }

      .name {
        color: $second;
        font-size: 1.2rem;
      }
    }

    // Override material UI
    .MuiInput-underline:before {
      border-bottom: 1px solid $main;
    }
    label,
    input {
      color: darken($color: $second, $amount: 20%);
    }
  }

  .MuiCardMedia-root {
    height: 200px;
  }

  h2.MuiTypography-root {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .plot {
    overflow: hidden;
    height: 150px;
    overflow-y: scroll;
  }
}
