$main: #ed8d8d;
$second: #fff;
$bg: #282c34;

:root {
  height: 100%;
}

h1 {
  color: $second;
  margin-bottom: 50px;
  text-align: center ;
}

body,
#root {
  height: 100%;
  background-color: $bg;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .user {
      display: flex;
      align-items: center;

      .avatar {
        background-color: $main;
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }

      .name {
        color: $second;
        font-size: 1.2rem;
      }
    }
  }
}
